/* .breadcrumb li {
  display: inline;
}

.breadcrumb li + li::before {
  color: tomato;
  content: ">";
}
 */

.breadcrumb {
  text-align: left;
  height: 30px;
}
.breadcrumb li {
  float: left;
  height: 40px;
  padding: 0;
}

.breadcrumb a {
  color: #fff;
  background: tomato;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 15px;
  padding: 0 5px;
}

.breadcrumb a::before,
.breadcrumb a::after {
  content: "";
  position: absolute;
  border-color: tomato;
  border-style: solid;
  border-width: 15px 5px;
}

.breadcrumb a::before {
  left: -10px;
}
.breadcrumb a::after {
  left: 100%;
}

.breadcrumb a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: tomato;
}

.breadcrumb a::before {
  left: -10px;
  border-left-color: transparent;
}

.breadcrumb a:hover {
  background-color: #d7263d;
}
.breadcrumb a:hover::before {
  border-color: #d7263d;
  border-left-color: transparent;
}
.breadcrumb a:hover::after {
  border-left-color: #d7263d;
}
