body {
  background-color: #0f1931;
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

.description {
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
}

.section-heading {
  font-size: 1rem;
  margin-bottom: 10px;
}

#information {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.stats {
  display: flex;
  flex-direction: column;
}

.current-action {
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  border-top: 1px solid #757f97;
  border-bottom: 1px solid #757f97;
}

.node {
  display: inline-block;
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-variant-numeric: tabular-nums;
  border-left: 1px solid #757f97;
  border-right: 1px solid #757f97;
  text-align: center;
  line-height: 1.5rem;
}

.nav-button {
  /* margin: 10px auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  background-color: transparent;
  height: 40px;
  padding: 0px 20px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 21.5px;
  font-size: 16px;
  cursor: pointer;
}

.sort {
  height: 200px;
  display: flex;
}

.element-container {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.data {
  background-color: #2d5dcc;
  position: relative;
  bottom: 0px;
  transition: height 0.2s;
}

.active {
  background: #fd4d3f;
}

.secondary {
  background-color: #3eb38c;
}

.label {
  display: flex;
  color: #fff;
  font-variant-numeric: tabular-nums;
}

.pivot {
  background-color: #7c5ce6;
}

#input-section {
  max-width: 80%;
  margin: 0 auto;
}

#input-orders {
  display: flex;
  justify-content: space-between;
}
